.service-body h1 {
  font-size: 2.5rem;
}
.service-body h2 {
  font-size: 2rem;
}
.service-body h3 {
  font-size: 1.75rem;
}
.service-body h4 {
  font-size: 1.5rem;
}
.service-body h5 {
  font-size: 1.25rem;
}
.service-body h6 {
  font-size: 1rem;
}
