.service-body h1 {
  font-size: 2.5rem;
}
.service-body h2 {
  font-size: 20px;
}
.service-body h3 {
  font-size: 20px;
}
.service-body h4 {
  font-size: 1.5rem;
}
.service-body h5 {
  font-size: 1.25rem;
}
.service-body h6 {
  font-size: 1rem;
}
.service-body a {
  color: #dc3545;
}
#bottom-section ul,
#bottom-section ol {
  padding: 0px 25px !important;
}
@media (max-width: 767px) {
  #bottom-section ul,
  #bottom-section ol {
    padding: 0px 20px !important;
  }
  .service-body {
    padding: 0 !important;
  }
  #assignment-section {
    margin-top: 0 !important;
  }
  #schema-section {
    padding: 0 !important;
  }
  #heading-section {
    width: 100% !important;
  }
  #top-section {
    padding: 0px 2rem !important;
  }
  #form-section {
    padding: 1rem !important;
  }
  #bottom-section {
    padding: 0px 50px !important;
  }
  #right-section {
    margin-top: 0px !important;
    padding: 3rem !important;
  }
}
